@charset "UTF-8";
* {
  box-sizing: border-box;
}

html * {
  font-size: 1rem;
  color: #000;
  font-family: "Inter";
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local("Inter");
  src: url(../fonts/Inter-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter");
  src: url(../fonts/Inter-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter");
  src: url(../fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter");
  src: url(../fonts/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto");
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto");
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
header {
  position: relative;
  height: 65px;
  max-width: 2000px;
  padding-top: 24px;
  margin: 0 auto;
}

.nav-menu__logo {
  height: 33px;
  width: 109px;
  position: absolute;
  top: 16px;
  left: 5%;
}
.nav-menu__contacts {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 16px;
  right: 5%;
  width: 215px;
  height: 40px;
  align-items: center;
}
.nav-menu__list {
  text-align: center;
}
.nav-menu__item {
  display: inline;
  margin-right: 52px;
  font-weight: 300;
  cursor: pointer;
}
.nav-menu__item:last-child {
  margin-right: 0px;
}
.nav-menu__item a {
  text-decoration: none;
}
.nav-menu__phone-item {
  display: block;
  line-height: 23px;
  text-decoration: none;
  color: black;
  font-weight: 300;
}
.nav-menu__img-item {
  width: 25px;
}
.nav-menu__social-net a {
  margin-right: 10px;
}
.nav-menu__social-net a:last-child {
  margin-right: 0px;
}

.section-main {
  height: calc(100vh - 65px);
  background-repeat: no-repeat;
  background-image: url("../img/photo_main.png");
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  max-width: 2000px;
  margin: 0 auto;
}
.section-main__content-container {
  max-width: 2000px;
}
.section-main__h1 {
  display: block;
  position: absolute;
  z-index: -1;
}
.section-main__box {
  font-size: 48px;
  margin: 0 auto;
  width: 13em;
  height: 4.1em;
  background: rgba(95, 97, 96, 0.65);
  padding-top: 0.9em;
  margin-bottom: 100px;
}
.section-main__header {
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: #D5BA75;
  margin-bottom: 10px;
}
.section-main__text {
  text-align: center;
  color: white;
  font-size: 0.4em;
  line-height: 1.3em;
}

.button {
  font-size: 1.25rem;
  font-weight: 400;
  display: block;
  margin: 0 auto;
  background-color: #D5BA75;
  padding: 0.8em 4.5em 0.8em 4.5em;
  border: none;
  border-radius: 0.25em;
  color: black;
  cursor: pointer;
}

.form {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-251px);
  width: 500px;
  height: 320px;
  background-color: #F6F4F4;
  padding-top: 30px;
  padding-left: 25px;
  z-index: 20;
}
.form__hidden {
  display: none;
}
.form__form-group {
  margin-bottom: 10px;
}
.form__form-group:nth-child(4) {
  margin-bottom: 20px;
}
.form__form-control {
  width: 350px;
  height: 100px;
}
.form__btn {
  width: 200px;
  height: 40px;
  background-color: #D5BA75;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form__btn:first-child {
  margin-right: 40px;
}
.form__label span {
  color: red;
}

.pers-data {
  position: fixed;
  overflow: auto;
  width: 1000px;
  top: 20px;
  left: 50%;
  transform: translateX(-500px);
  background-color: white;
}

.section-help {
  min-height: 800px;
  background-color: white;
  max-width: 2000px;
  margin: 0 auto;
  margin: 0 auto;
}
.section-help__header {
  text-align: right;
}
.section-help__subheader {
  text-align: right;
}
.section-help__wraper {
  position: relative;
  max-width: 1180px;
  min-height: 200px;
}
.section-help__wraper_reverse {
  padding-left: 25%;
}
.section-help__designer-img {
  width: 180px;
  height: 180px;
  float: left;
  margin: 0px 10% 7px 0;
}
.section-help__designer-img_reverce {
  width: 180px;
  height: 180px;
  float: right;
  margin: 0px 0px 7px 5px;
}
.section-help__text {
  line-height: 36px;
  font-weight: 200;
}
.section-help__text span {
  font-weight: 700;
  color: #D5BA75;
}

.header {
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: 3px;
  font-size: 40px;
  color: black;
}

.subheader {
  font-size: 24px;
  color: #D5BA75;
  margin-bottom: 54px;
}

.content-container {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1180px;
  min-height: 800px;
}

.prices {
  background-color: white;
  max-width: 2000px;
  margin: 0 auto;
}
.prices__content-container {
  height: 840px;
}
.prices__header {
  text-align: right;
}
.prices__subheader {
  text-align: right;
}
.prices__footer-text {
  margin-bottom: 30px;
  font-size: 10px;
}
.prices__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.ticket-price {
  width: 380px;
  height: 490px;
  border-right: 5px solid #D5BA75;
  border-bottom: 5px solid #D5BA75;
  margin-right: 20px;
  padding-top: 20px;
  position: relative;
}
.ticket-price:last-child {
  margin-right: 0px;
}
.ticket-price table {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 70%;
}
.ticket-price td {
  max-width: 238px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12px;
}
.ticket-price td:last-child {
  width: 40px;
  text-align: right;
  vertical-align: bottom;
  font-size: 16px;
  color: #D5BA75;
  border-left: 1px solid #D5BA75;
}
.ticket-price__header {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.ticket-price__header span {
  color: #D5BA75;
  font-size: 28px;
  font-weight: 700;
}
.ticket-price__header b {
  font-weight: 700;
  font-size: 20px;
}
.ticket-price__footer-text {
  font-size: 10px;
  font-weight: 200;
  margin-left: 52px;
}
.ticket-price__footer-text span {
  color: red;
}

.about {
  background-color: #F6F4F4;
  max-width: 2000px;
}
.about__content-container {
  height: 700px;
}
.about__designer-foto-wrp {
  width: 280px;
  height: auto;
  margin-right: 60px;
}
.about__designer-foto-wrp:hover {
  scale: 1.03;
}
.about__designer-foto {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.about__wrapper {
  display: flex;
  flex-direction: row;
}
.about__text-wrp {
  width: 490px;
  height: 366px;
}
.about__text {
  font-size: 16px;
  line-height: 36px;
  font-weight: 200;
}
.about__text span {
  color: #D5BA75;
  font-weight: 700;
}

footer {
  background-color: #E3E3E3;
  max-width: 2000px;
  margin: 0 auto;
}

.footer__content-container {
  min-width: none;
  min-height: 380px;
}
.footer__first-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.footer__company-name {
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 48px;
}
.footer__company-name span {
  font-weight: 700;
  color: #D5BA75;
  font-size: 32px;
}
.footer__phone-icon {
  display: inline;
  width: 22px;
  height: 22px;
}
.footer__text {
  display: inline;
}
.footer__item {
  display: inline;
  text-decoration: none;
}
.footer__img-item {
  width: 46px;
  height: 46px;
  margin-right: 13px;
}
.footer__logo {
  width: 202px;
  height: 60px;
  cursor: pointer;
}
.footer__contacts {
  text-align: end;
}
.footer__phone-wrap {
  margin-bottom: 3px;
}
.footer__phone-wrap:nth-child(3) {
  margin-bottom: 21px;
}
.footer__hr {
  border: 1px solid white;
}
.footer__second-wrap {
  display: flex;
  justify-content: space-between;
}
.footer__subfooter-text {
  font-size: 12px;
  font-weight: 200;
  line-height: 25px;
}
.footer__subfooter-text a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 200;
  line-height: 25px;
  color: blue;
}
.footer__subfooter-text a:hover {
  color: #ac0cc4;
}
.footer__subfooter-wrap {
  height: 80px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.footer__personal-date {
  color: blue;
}

.portfolio {
  background-color: #F6F4F4;
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 60px;
  height: 100vh;
}
.portfolio__content-container {
  height: 500px;
  padding-top: 0px;
  display: flex;
  align-items: start;
}
.portfolio__header-wrapper {
  width: 1180px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.portfolio__subheader {
  margin-bottom: 0px;
}
.portfolio__subheader_modal {
  color: black;
  font-size: 18px;
}
.portfolio__modalBackground {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  cursor: pointer;
  /* указываем z-индекс для корректного наслаивания */
  z-index: 1;
}
.portfolio__modalActive {
  position: absolute;
  width: 800px;
  height: 540px;
  top: calc(50% - 300px);
  left: calc(50% - 400px);
  background-color: rgb(255, 255, 255);
  cursor: default;
}
.portfolio__modalClose {
  position: absolute;
  right: -40px;
  top: -40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.portfolio__x {
  width: 40px;
  height: 40px;
}
.portfolio__modalWindow {
  height: 100%;
  width: 100%;
  background-color: #E3E3E3;
}
.portfolio__head {
  width: 100%;
  height: 60px;
  padding-top: 22px;
  background-color: #C4C2C2;
  text-align: center;
  display: none;
}

.carousel-wrapper {
  height: 500px;
  width: 1100px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
}
.carousel-wrapper__photo-ticket {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  transition: transform 0.7s;
  overflow: hidden;
}
.carousel-wrapper__photo-ticket:hover {
  cursor: pointer;
}
.carousel-wrapper__btn {
  border: none;
  min-width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  margin-right: 30px;
  padding: 0px;
  transform: translateY(150px);
}
.carousel-wrapper__btn:last-child {
  margin-right: 0px;
}
.carousel-wrapper__arrows {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.carousel-wrapper__img-wrapper {
  width: 100%;
  height: 320px;
  overflow: hidden;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.carousel-wrapper__img-wrapper img {
  height: 100%;
  margin: auto;
  justify-content: center;
}
.carousel-wrapper__img-wrapper img:hover {
  scale: 1.1;
}
.carousel-wrapper__design-obj {
  margin-bottom: 20px;
  font-size: 20px;
  word-wrap: break-word;
}
.carousel-wrapper__obj-info {
  font-size: 18px;
  color: #D5BA75;
}

.modal-wrapper {
  height: 540px;
  width: 800px;
  position: relative;
  overflow: hidden;
}
.modal-wrapper__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-20px);
  border: none;
  height: 50px;
  width: 50px;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  padding: 0;
  border-radius: 50%;
}
.modal-wrapper__btn--left {
  left: 30px;
}
.modal-wrapper__btn--right {
  right: 30px;
}
.modal-wrapper__arrows {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.modal-wrapper__img-wrapper {
  position: absolute;
  top: 0px;
  width: 800px;
  height: 540px;
  overflow: hidden;
  transition: transform 0.7s;
}
.modal-wrapper__img-wrapper img {
  display: block;
  margin: 0 auto;
  height: 100%;
}/*# sourceMappingURL=style.css.map */