* {
  box-sizing: border-box;
}

.wrapper {
  position: absolute;
  left: 400px;
  height: 600px;
  border: 1px solid black;
  width: 100px;
  display: flex;
  justify-content: center;
  }
.wrapper img {
  /* object-fit: contain; */
  height: 100%;

}
